@font-face {
    font-family: "PT Sans";
    src: url("../fonts/PTS55F.ttf");
}

h1 {
    font-size: 2.5em;
}

body {
    font-family: "PT Sans", sans-serif;
}

p {
    font-size: 1.5em;
}

img {
    max-width: 300px;
}

img.step {
    max-width: 100%;
}

.row.steps {
    margin-top: 50px;
}
footer {
    width: 100%;
    height: 30px;
    background-color: #FF2D00;
}

a {
    color: #000000;
}


a:hover {
    color: #000000;
}

.logo {
    width: 150px;
}

.projects, .about-project {
    width: 100%;
    background-color: #F2F2F2;
}

.about-project {
    padding: 50px 0 50px 0;
}


.align-center-left {
    position: relative;
    right: 50%;
    float: right;
}

.align-center-right {
    position: relative;
    z-index: 1;
    right: -50%;
}

figcaption {
    text-align: center;
    font-size: 1.5em;
}

.content img {
    margin: 25px auto;
}

figure {
    margin: 25px auto;
}

.no-margin-left {
    margin-left: 0 !important;
}

.content {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cntr {
    text-align: center;
}

.content-align {
    margin: 15px auto;
    width: 300px;
}

.align-left {
    margin-left: 15px;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.contact img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects figcaption {
    text-align: left;
}

.projects img {
    /*-o-text-overflow: ellipsis;*/
    /*text-overflow: ellipsis;*/
    /*-webkit-box-shadow: 5px 6px 1px 2px rgba(206, 206, 206, 1);*/
    /*box-shadow: 5px 6px 1px 2px rgba(206, 206, 206, 1);*/
    /*-webkit-transform: scaleX(1) scaleY(1) scaleZ(1);*/
    /*transform: scaleX(1) scaleY(1) scaleZ(1);*/
    /*-webkit-transform-origin: 50% 50% 0;*/
    /*transform-origin: 50% 50% 0;*/
}

p.usual {
    font-size: 1em;
}

.tip {
    float: right;
    min-height: 30px;
    max-width: 300px;
    background: #F2F2F2;
    margin: 15px;
    padding: 15px;
}

.tip .tip-arrow-left {
    position: relative;
    border-right: 20px solid #F2F2F2;
    border-top: 15px solid transparent;
}

.tip .tip-arrow-down {
    position: relative;
    border-left: 15px solid #F2F2F2;
    border-bottom: 20px solid transparent;
}

.tip-special-1 {
    margin-top: 250px;
}

.tip-special-2 {
    margin-top: 500px;
}

@media (max-width: 996px) {
    .tip-special-1 {
        margin-top: 100px;
    }

    .tip-special-2 {
        margin-top: 50px;
    }
}

.row {
    margin-right: 0;
}